.row
  .col-md-8.col-md-offset-2
    %h1
      Charts
      %small
        %a.btn.btn-info{href: "/"} Back to Index
    %form#choices.form-inline{action: "javascript:void(0);"}
      .checkbox
        %label
          %input{type: "checkbox", name: "frame", checked: "checked", id: "check_frame"}
          Frame
      .checkbox
        %label
          %input{type: "checkbox", name: "gt", checked: "checked", id: "check_gt"}
          Game Thread
      .checkbox
        %label
          %input{type: "checkbox", name: "rt", checked: "checked", id: "check_rt"}
          Render Thread
      .checkbox
        %label
          %input{type: "checkbox", name: "gpu", checked: "checked", id: "check_gpu"}
          GPU Thread
      .checkbox
        %label
          %input{type: "checkbox", name: "actor", checked: "checked", id: "check_actor"}
          Actor Count
      .checkbox
        %label
          %input{type: "checkbox", name: "emitter", checked: "checked", id: "check_emitter"}
          Emitter Count
      .checkbox
        %label
          %input{type: "checkbox", name: "vram", checked: "checked", id: "check_vram"}
          VRAM
      .checkbox
        %label
          %input{type: "checkbox", name: "audio", checked: "checked", id: "check_audio"}
          Audio Thread
      .checkbox
        %label
          %input{type: "checkbox", name: "inrate", checked: "checked", id: "check_inrate"}
          InRate
      .checkbox
        %label
          %input{type: "checkbox", name: "outrate", checked: "checked", id: "check_outrate"}
          OutRate
      .checkbox
        %label
          %input{type: "checkbox", name: "ping", checked: "checked", id: "check_ping"}
          Ping
      %button.btn.btn-default{type: "submit", id: "replot"} Replot
- @files.each_index do |idx|
  .row
    .col-md-8.col-md-offset-2
      %h3
        = @files[idx][:basename]
  .row
    .col-md-10
      .chart{style: "width:100%; height:400px; margin: 20 auto;", id: "chart#{idx}"}
    .col-md-2
      %h4{id: "eventstitle#{idx}"} Events
      .well{id: "eventslist#{idx}"}
  .row
    .col-md-12
      .overview{style: "width:100%; height: 100px; margin: 20 auto;", id: "overview#{idx}"}
  - if @files[idx][:table]
    .row
      .col-md-12
        != @files[idx][:table]
  :javascript
    var fd = #{@files[idx][:fd]};
    var gd = #{@files[idx][:gd]};
    var rd = #{@files[idx][:rd]};
    var gpud = #{@files[idx][:gpud]};
    var actord = #{@files[idx][:actord]};
    var emitterd = #{@files[idx][:emitterd]};
    var vramd = #{@files[idx][:vramd]};
    var audiod = #{@files[idx][:audiod]};
    var inrated = #{@files[idx][:inrd]};
    var outrated = #{@files[idx][:outrd]};
    var pingd = #{@files[idx][:pingd]};
    var events = #{@files[idx][:events]};
    make_chart(fd, gd, rd, gpud, actord, emitterd, vramd, audiod, inrated, outrated, pingd, "#chart#{idx}", "#overview#{idx}", "#eventslist#{idx}", "#eventstitle#{idx}", events);
