.row
  .col-md-6.col-md-offset-2
    %h1
      Chart List
      %a.btn.btn-primary{href: "/upload"} Upload CSV
      %button.btn.btn-info#showmulti Show Multiple Charts
.row{style: "margin-top: 20px;"}
  .col-md-6.col-md-offset-2
    %table.table#files
      %thead
        %tr
          %th Name
          %th Date
          %th Action
      %tbody
        - @files.each do |ff|
          %tr
            %td
              %a.chartlink{href: "/charts/#{ff[:filename]}"}
                = File.basename(ff[:filename], File.extname(ff[:filename]))
            %td{:'data-order' => "#{ff[:time].to_i}"}
              = ff[:time].iso8601
            %td
              %a{href: "/delete/#{ff[:filename]}"} Delete
              |
              %a{href: "/download/#{ff[:filename]}"} Download
  .col-md-2
    %h3 Tips
    %ol
      %li If the "Frame" orange line is above both "GT" ("Game Thread") blue and "RT" ("Render Thread") green lines, it means it is GPU bound (since GPU is not represented on this graph)
:javascript
  $(document).ready(function(){
    $('#files').DataTable({
      lengthMenu: [[50, 25, 10, -1], [50, 25, 10, "All"]],
      order: [[0, "desc"], [1, "asc"]],
      columnDefs: [{
        targets: 1,
        render: function(data, type, full, meta) {
          if (type == 'display' || type == 'filter') {
            return moment(data, moment.ISO_8601).format("YYYY-MM-DD HH:mm:ss");
          }
          return data;
        },
        data: {
          _: "1.display",
          sort: "1.@data-order",
          type: "1.@data-order"
        }
      }]
    });

    var selectedCharts = [];

    $('#files tbody').on('click', 'tr', function() {
      $(this).toggleClass('success');
      var csvname = $(this).children()[0].innerText + ".csv";
      var idx = selectedCharts.indexOf(csvname);
      if (idx == -1) {
        selectedCharts.push(csvname);
      }
      else {
        selectedCharts.splice(idx, 1);
      }
    });

    $('#showmulti').on('click', function() {
      if (selectedCharts.length > 0) {
        window.location.href = "/charts/" + selectedCharts.join(";");
      }
    })

  });
