.row
  .col-md-8.col-md-offset-2
    %h1
      Multi Chart
      %small
        %a.btn.btn-info{href: "/"} Back to Index
    %form#choices.form-inline{action: "javascript:void(0);"}
      .checkbox
        %label
          %input{type: "checkbox", name: "frame", checked: "checked", id: "check_frame"}
          Frame
      .checkbox
        %label
          %input{type: "checkbox", name: "gt", checked: "checked", id: "check_gt"}
          Game Thread
      .checkbox
        %label
          %input{type: "checkbox", name: "rt", checked: "checked", id: "check_rt"}
          Render Thread
      %button.btn.btn-default{type: "submit", id: "replot"} Replot
- @files.each_index do |idx|
  .row
    .col-md-8.col-md-offset-2
      %h3
        = @files[idx][:basename]
  .row
    .col-md-12
      .chart{style: "width:100%; height:400px; margin: 20 auto;", id: "chart#{idx}"}
  .row
    .col-md-12
      .overview{style: "width:100%; height: 100px; margin: 20 auto;", id: "overview#{idx}"}
  - if @files[idx][:table]
    .row
      .col-md-12
        != @files[idx][:table]
  :javascript
    var fd = #{@files[idx][:fd]};
    var gd = #{@files[idx][:gd]};
    var rd = #{@files[idx][:rd]};
    app(fd, gd, rd, "#chart#{idx}", "#overview#{idx}");
